body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: grey;
}

#grille{
    display: grid;
    grid-row-gap: 2px;
    grid-template-rows: 1fr 4fr repeat(3, 1fr);
    height: 100vh;
    background-color: white;
}

header, footer {
    background-color: #0171c5;

}

article {
    background-color: #b5babe;

}

nav {
    background-color: #00adef;

}

aside {
    background-color: #0077ff;

}

.content {
    text-align: center;
    padding: 20px;
}


@media screen and (min-width: 960px) {

    #grille{
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-column-gap: 2px;
        width: 95%;
        margin: auto;
    }

    header, footer {
        grid-column: 1 / span 3 ;    

    }

    nav {
        order: 1;
    }

    article {
        order: 2;
    }

    aside {
        order: 3;
    }

    footer {
        order: 4;
    }
    
}
